{#
/**
 * @file share_link_token.html.twig
 * Default theme implementation to present Share Link Token data.
 *
 * This template is used when viewing Share Link Token pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_share_link_token()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('share_link_token') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
