name: build

on:
  push:
  workflow_dispatch:

# Add permissions block with required permissions used for shipshape audit
permissions:
  checks: write
  contents: read
  pull-requests: write
  packages: read
jobs:
  tide_build:
    name: tide_build
    secrets: inherit
    uses: dpc-sdp/github-actions/.github/workflows/tide_build.yml@v1.6.2
  export_config:
    name: export_config
    secrets: inherit
    uses: dpc-sdp/github-actions/.github/workflows/export_config.yml@v1.6.2
