name: build

on:
  push:
  workflow_dispatch:

jobs:
  tide_build:
    name: tide_build
    secrets: inherit
    uses: dpc-sdp/github-actions/.github/workflows/tide_build.yml@feature/git-owner
    with:
      module_build: true
      runner: biggy-tide
  export_config:
    name: export_config
    secrets: inherit
    uses: dpc-sdp/github-actions/.github/workflows/export_config.yml@v1.6.5
