name: 'Pull request reviewer reminder'
on:
  workflow_dispatch:
  
  schedule:
    - cron: '0 0,7 * * 1-5'
    
jobs:
  pull-request-reviewer-reminder: 
    runs-on: ubuntu-latest
    steps:
      - uses: tommykw/pull-request-reviewer-reminder-action@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reminder_message: 'This PR has been open for 7 days - please review and merge ASAP.'
          review_turnaround_hours: 168 # 7 days
